@import url("https://fonts.googleapis.com/css2?family=Lora:ital@1&family=Montserrat:ital,wght@0,600;0,800;1,600&display=swap");

body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  /* font-size: 18px; */
  box-sizing: border-box;
  background: #222;
  overflow-x: hidden;
  /* display: flex; */
}

/* Custom Scrollbar */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

a:hover {
  transform: scale(1.2);
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 30vw;
  min-height: 100vh;
  display: flex;
  background-image: url("../img/sidebar.jpg");
  background-size: cover;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: #bfbfbf;
  text-shadow: 3px 3px 5px #000;
  box-shadow: 0 0 20px #000;
  animation: slide-in-left 2s ease-out;
}

@keyframes slide-in-left {
  from {
    transform: translateX(-550px);
  }
  to {
    transform: translateX(0);
  }
}

.sidebar img {
  border-radius: 50%;
  box-shadow: 0 0 10px black;
  width: 60%;
  margin: 80px 0;
  animation: fade-in 2s ease-in;
  /* filter: invert(1); */
}

.sidebar h1 {
  font-size: 2.7rem;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  animation: fade-in 2s ease-in;
  text-transform: uppercase;
  text-align: center;
}

.sidebar h2 {
  font-size: 1.8rem;
  font-family: "Lora", serif;
  margin-bottom: 50px;
  animation: fade-in 2s ease-in;
  text-align: center;
}

.social {
  margin: 30px;
  animation: fade-in 2s ease-in;
  display: flex;
  flex-wrap: wrap;
}

.social a {
  padding: 10px;
  color: #bfbfbf;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

.content {
  margin: 2em;
  margin-left: 30vw;
  line-height: 1.5;
  color: #bfbfbf;
  text-shadow: 0 0 1px #000;
}

.project {
  margin: 50px;
  animation: slide-in-right 2s ease-out;
}

.project h1 {
  font-size: 1.8rem;
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  font-weight: 600;
  margin: 0;
  animation: fade-in 3s ease-in;
  text-shadow: 3px 3px 10px #000;
  /* text-transform: uppercase; */
}

.links {
  display: flex;
}

.project a {
  margin: 10px;
  color: #bfbfbf;
  animation: fade-in 3s ease-in;
  text-shadow: 3px 3px 10px #000;
}

@keyframes slide-in-right {
  from {
    transform: translateY(-550px);
  }
  to {
    transform: translateY(0);
  }
}

@media screen and (max-width: 1400px) {
  .sidebar {
    width: 35vw;
  }

  .sidebar img {
    margin: 50px 0;
  }

  .sidebar h1 {
    font-size: 2.5rem;
  }

  .sidebar h2 {
    font-size: 1.5rem;
    margin-bottom: 30px;
  }

  .social a {
    transform: scale(0.9);
  }

  .content {
    margin-left: 35vw;
  }

  .project h1 {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 700px) {
  body {
    display: flex;
    flex-direction: column;
    background: #050503;
  }

  .sidebar {
    position: relative;
    min-width: 100vw;
    min-height: 100vh;
    animation: slide-down 2s ease-out;
  }

  @keyframes slide-down {
    from {
      transform: translateY(-550px);
    }
    to {
      transform: translateY(0);
    }
  }

  .sidebar img {
    width: 50%;
    margin: 100px 0;
  }

  .sidebar h1 {
    font-size: 2.6rem;
  }

  .sidebar h2 {
    font-size: 1.7rem;
    margin-bottom: 50px;
  }

  .social {
    transform: scale(0.8);
    margin: 10px;
    flex-wrap: nowrap;
  }

  .content {
    margin: auto;
    color: #bfbfbf;
  }

  .project {
    animation: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .project h1 {
    font-size: 1.5rem;
  }

  .project a {
    color: #bfbfbf;
  }
}
