@import url("https://fonts.googleapis.com/css2?family=Lora:ital@1&family=Montserrat:ital,wght@0,600;0,800;1,600&display=swap");

body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  /* font-size: 18px; */
  box-sizing: border-box;
  background: #bfbfbf;
  overflow-x: hidden;
  /* display: flex; */
}

/* Loading Animation */

.loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #bfbfbf;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #000;
  animation: loader 1s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #000;
  animation: loader-inner 1s infinite ease-in;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }
  25% {
    height: 0%;
  }
  50% {
    height: 100%;
  }
  75% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}

/* Custom Scrollbar */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

a:hover {
  transform: scale(1.2);
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 30vw;
  min-height: 100vh;
  display: flex;
  background-image: url("../img/sidebar.jpg");
  background-size: cover;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: #bfbfbf;
  text-shadow: 3px 3px 5px #000;
  box-shadow: 0 0 20px #000;
  animation: slide-in-left 1s ease-out;
}

@keyframes slide-in-left {
  from {
    transform: translateX(-550px);
  }
  to {
    transform: translateX(0);
  }
}

.sidebar img {
  border-radius: 50%;
  box-shadow: 0 0 10px black;
  width: 60%;
  margin: 80px 0;
  animation: fade-in 1s ease-in;
  /* filter: invert(1); */
}

.sidebar h1 {
  font-size: 2.7rem;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  animation: fade-in 1s ease-in;
  text-transform: uppercase;
  text-align: center;
}

.sidebar h2 {
  font-size: 1.8rem;
  font-family: "Lora", serif;
  animation: fade-in 1s ease-in;
  text-align: center;
}

.social {
  margin: 30px;
  margin-top: 50px;
  animation: fade-in 1s ease-in;
  display: flex;
  flex-wrap: wrap;
}

.social a {
  padding: 10px;
  color: #bfbfbf;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

.content {
  margin: 2em;
  margin-left: 30vw;
  margin-right: 30vw;
  line-height: 1.5;
  color: #bfbfbf;
  /* animation: slide-in-top 1s ease-out; */
  text-shadow: 0 0 1px #000;
}

.content-switch {
  display: flex;
}

.content-switch h1 {
  text-align: center;
  color: #222;
  font-size: 2.2rem;
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  font-weight: 600;
  margin: 50px;
  text-transform: uppercase;
  animation: fade-in 1s ease-in;
  text-shadow: 1px 1px 1px #000;
  cursor: pointer;
}

.inactive {
  color: #777 !important;
  text-shadow: 1px 1px 1px #777 !important;
}

#projects {
  display: flex;
  flex-direction: column;
}

#blogs {
  display: none;
  flex-direction: column;
}

.section-header {
  display: none;
}

.project,
.blog {
  margin: 30px 80px;
}

.blog {
  text-align: right;
  padding-right: 60px;
}

.project h2,
.blog h2 {
  text-decoration: none;
  font-size: 1.8rem;
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  font-weight: 600;
  color: #222;
  margin: 0;
  animation: fade-in 1s ease-in;
  text-shadow: 1px 1px 1px #000;
}

.links {
  display: flex;
}

.project a,
.blog a {
  margin: 10px;
  color: #222;
  animation: fade-in 1s ease-in;
  text-shadow: 1px 1px 1px #000;
}

@keyframes slide-in-top {
  from {
    transform: translateY(-550px);
  }
  to {
    transform: translateY(0);
  }
}

.about-sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 35vw;
  min-height: 100vh;
  display: flex;
  background: #000;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #bfbfbf;
  text-shadow: 3px 3px 5px #000;
  box-shadow: 0 0 20px #000;
  animation: slide-in-right 1s ease-out;
}

.about-sidebar h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.2rem;
}

.about-sidebar p {
  padding: 0 50px;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  font-size: 1.3rem;
}

.about-sidebar a {
  color: #bfbfbf;
}

@keyframes slide-in-right {
  from {
    transform: translateX(550px);
  }
  to {
    transform: translateX(0);
  }
}

@media screen and (max-width: 1400px) {
  .sidebar {
    width: 35vw;
  }

  .sidebar img {
    margin: 50px 0;
  }

  .sidebar h1 {
    font-size: 2.5rem;
  }

  .sidebar h2 {
    font-size: 1.5rem;
    margin-bottom: 30px;
  }

  .social a {
    transform: scale(0.9);
  }

  .content {
    margin-left: 35vw;
  }

  .project h2,
  .blog h2 {
    font-size: 1.6rem;
  }

  .about-sidebar {
    width: 35vw;
  }
}

@media screen and (max-width: 700px) {
  body {
    display: flex;
    flex-direction: column;
    background: #050503;
  }

  .loader-wrapper {
    background-color: #000;
  }

  .loader {
    border: 4px solid #bfbfbf;
  }

  .loader-inner {
    background-color: #bfbfbf;
  }

  .sidebar {
    position: relative;
    min-width: 100vw;
    min-height: 100vh;
    animation: slide-down 1s ease-out;
  }

  @keyframes slide-down {
    from {
      transform: translateY(-550px);
    }
    to {
      transform: translateY(0);
    }
  }

  .sidebar img {
    width: 50%;
    margin: 100px 0;
  }

  .sidebar h1 {
    font-size: 2.6rem;
  }

  .sidebar h2 {
    font-size: 1.7rem;
    margin-bottom: 50px;
  }

  .social {
    transform: scale(0.8);
    margin: 10px;
    flex-wrap: nowrap;
  }

  .about-sidebar {
    animation: none;
    position: relative;
    min-width: 100vw;
    min-height: 100vh;
  }

  .about-sidebar p {
    font-weight: 200;
    font-size: 1.1rem;
  }

  .content {
    margin: auto;
    color: #bfbfbf;
  }

  .content-switch {
    justify-content: center;
  }

  .content-switch h1 {
    font-size: 1.8rem;
    color: #bfbfbf;
    margin: 20px;
  }

  .project,
  .blog {
    animation: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #bfbfbf;
  }

  .blog {
    padding-right: auto;
  }

  .project h2,
  .blog h2 {
    font-size: 1.5rem;
    color: #bfbfbf;
  }

  .project a,
  .blog a {
    color: #bfbfbf;
  }
}
